:root {
  --primary: 37, 51, 68;
  --secondary: 235, 203, 139;
  --background: 75, 103, 137;
  --accent: 129, 161, 193;

  --text-primary: 236, 239, 244;
  --text-secondary: 200, 200, 200;

  --success: 34, 153, 84;
  --error: 255, 55, 55;
  --border: 100, 100, 100;

}

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;

  width: 350px;
  margin: 0;
  padding: 0;
  background-color: rgba(var(--background), 1);
  color: rgba(var(--text-primary), 1);
  border: none;
  outline: none;
}

/* =========================================== */

.logs-btn {
  background-color: rgba(var(--secondary), 1);
  border-radius: 3px;
  outline: none;
  border: none;
}

.input-field {
  background-color: #d8dee9;
}

/* ======================================= */
/* Scrollbar */

/* Firefox
  * {
    scrollbar-width: auto;
    scrollbar-color: #3b4252 #5e81ac;
  }

  /* Chrome, Edge, and Safari */
/* *::-webkit-scrollbar {
    width: 8px;
  } */

/* *::-webkit-scrollbar-track {
    background: #5e81ac;
  } */

/* *::-webkit-scrollbar-thumb {
    background-color: #3b4252;
    border-radius: 71px;
    border: none;
  } */
/* } */


/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #3B4252;
}

*::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: #5E81AC;
}
